QTableWidget{
            background-color: #212529;
            gridline-color: transparent;
            border: 5px solid #212529;
            border-top: 20 px solid #212529;
            alternate-background-color: #2c3034;
            color: #fafafa;
            font-family: Arial;
            border-top-right-radius	: 0px;
            border-top-left-radius	: 0px;
            border-bottom-right-radius	: 12px;
            border-bottom-left-radius: 12px;
            padding: 4 0 4 0
}
QHeaderView::section{
                background-color: #212529;
                font-weight: bold ;
                color: #fafafa;
                font-family: -apple-system;
                border: none;
}
QTableWidget::item:selected
{
        background-color:  #712cf9;
        color:black;
        padding: -1 -1 -1 -1
}
QTableWidget::item
{
        padding: 4 4 4 -4
}



