QFrame
{
background-color: #212529;
border: none;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
 }
QPushButton::hover
{
background-color: qlineargradient(spread:pad, x1:0, y1:0,
x2:0, y2:1, stop:0 rgba(0, 0, 0, 255), stop:0.33 rgba(0, 0, 0, 255), stop:0.34 rgba(255, 30, 30, 255),
stop:0.66 rgba(255, 0, 0, 255), stop:0.67 rgba(255, 255, 0, 255), stop:1 rgba(255, 255, 0,
255));
 border:none;
}
QPushButton#close::hover{
        border-top-right-radius: 12px;
}